/* CSS files add styling rules to your content */

/* This is an absolute MESS but it works. */

* {
  margin: 0px;
  padding 0px;
  
}

body {
  margin-top:2em;
  text-align: center;
  font-family: helvetica, arial, sans-serif;
  background: black;
  margin-bottom: 2em;
}

h1 {
 font-family: 'Bebas Neue', cursive;
  font-size: 60px;
  color: white;
  padding-bottom: 20px;
  border-bottom: white 5px solid;
}

h2 {
 font-family: 'Bebas Neue', cursive;
  color: white;
  padding: 3px;
  font-size: 30px;
}

h4{
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border: 2px black solid;
}

h5 {
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
  border: 2px black solid;
}

#quizBody{
  margin-left: 100px;
  margin-right: 100px;
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
}

#quizAll{
  display: none;
}

.question {
/*   border: 5px red solid; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 20px;
  background-color: white;
  border-radius: 5%;
  width: 200px;
  height: 100%;
  outline: none;
  padding: 3px;
  margin: 5px;
  border: 0px;
}

img {
  max-width: 100%;
}

p {
  font-family: 'Bebas Neue', cursive;
  color: black;
}

#restart {
  width: 100px;
  height: 30%;
  visibility: hidden;
}

.standout {
  margin: 10px;
  text-align: center;
  width: 200px;
  border: 2px white solid;
  
}

.Intro {
  
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.text{
  padding: 5px;
  font-size: 20px;
  background: white;
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color:black;
  
}

#takequiz {
  border-radius: 5%;
  font-size: 25px;
  width: 190px;
  height: 70px;
  
}

.glitchButton {
  
  margin:-20px;
}

#resultText{
  
  color: white;
  margin-left: 20%;
  margin-right: 20%;
}

.container{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



div {
  text-align: center;
}